{
  "extends": "xo-space/browser",
  "rules": {
    "semi": [
      2,
      "never"
    ],
    "no-return-assign": "off",
    "no-unused-expressions": "off",
    "no-new-func": "off",
    "no-multi-assign": "off",
    "no-mixed-operators": "off",
    "max-params": "off",
    "no-script-url": "off",
    "camelcase": "off",
    "object-curly-spacing": "off",
    "no-warning-comments": "off",
    "no-negated-condition": "off",
    "eqeqeq": "warn",
    "no-eq-null": "warn",
    "max-statements-per-line": "warn"
  },
  "globals": {
    "Docsify": true,
    "$docsify": true,
    "process": true
  },
  "env": {
    "browser": true,
    "amd": true,
    "node": true
  }
}