@import '_vars.css';
@import '_vars-advanced.css';
@import '_base.css';
@import '_elements.css';
@import '_app.css';
@import '_coverpage.css';
@import '_navbar.css';
@import '_sidebar.css';
@import '_markdown.css';
@import '_mq.css';

/* Plugins */
/* ========================================================================== */
/* Search */
.search {
  a:hover {
    color: var(--theme-color);
  }

  .search-keyword {
    color: var(--theme-color);
    font-style: normal;
    font-weight: var(--strong-font-weight);
  }
}
