/* Media */
/* ========================================================================== */
@media print {
  .app-nav,
  .github-corner,
  .sidebar,
  .sidebar-toggle {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  main {
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;

    > .content {
      position: static;
      right: 0;
      left: 0;
      max-width: 100vw;
      transition: transform var(--duration-medium) ease;
    }
  }

  .app-nav,
  .github-corner {
    transition: transform var(--duration-medium) ease-out;
  }

  .github-corner,
  .sidebar,
  .sidebar-toggle {
    position: fixed;
  }

  .app-nav {
    left: 0;
  }

  .github-corner {
    &:hover .octo-arm {
      animation: none;
    }

    .octo-arm {
      animation: github-corner 560ms ease-in-out;
    }
  }

  .sidebar {
    visibility: hidden;
    left: calc(0px - var(--sidebar-width));
    transition:
      transform var(--duration-medium) ease-out,
      visibility var(--duration-medium);
  }

  .sidebar-toggle {
    width: auto;
    background: transparent;
  }

  body.close {
    .app-nav,
    .github-corner {
      display: none;
    }

    main {
      > .content {
        transform: translateX(var(--sidebar-width));
      }
    }

    .sidebar {
      visibility: visible;
      transform: translateX(var(--sidebar-width));
    }

    .sidebar-toggle {
      width: calc(var(--sidebar-width) - 16px);
      background: color-mix(in srgb, var(--color-bg) 80%, transparent);
      transition: var(--duration-medium) background-color;
    }
  }
}
