/* Media */
/* ========================================================================== */
:root {
  --_mobile-breakpoint: 640px; /* JS Accessible. Match with MQ below. */
}

@media (prefers-reduced-motion) {
  :root {
    --duration-slow: 0s;
    --duration-medium: 0s;
    --duration-fast: 0s;
  }
}

@media print {
  .app-nav,
  .github-corner,
  .sidebar,
  .sidebar-toggle {
    display: none;
  }
}

/* Mobile */
@media screen and (max-width: 640px) {
  .app-nav,
  .github-corner,
  main > .content {
    transition: translate var(--duration-medium) ease;
  }

  .sidebar,
  .sidebar-toggle {
    position: fixed;
  }

  .app-nav {
    left: 0;

    body:has(.app-nav-merged) & {
      display: none;
    }
  }

  .app-nav-merged {
    display: block;
  }

  main > .content {
    position: static;
  }

  body:not(:has(.sidebar.show)) {
    .sidebar-toggle {
      background: transparent;
    }
  }

  body:has(.sidebar.show) {
    .app-nav,
    .github-corner,
    main > .content {
      translate: var(--sidebar-width);
    }
  }

  body:has(.app-nav-merged) {
    .markdown-section {
      margin-top: var(--_markdown-margin-inline);
    }
  }
}
