/* Sidebar */
/* ========================================================================== */
:root {
  --_sidebar-inset: 20px;
  --_sidebar-list-inset: 0.85em;
  --_sidebar-scrollbar-width: 10px; /* macOS overlay scrollbar default */

  @supports (scrollbar-width: auto) {
    --_sidebar-scrollbar-width: 4px;
  }
}

.app-nav-merged,
.sidebar-nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    line-height: var(--sidebar-link-line-height);
    scroll-margin-bottom: 40px;

    > * {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    > p {
      margin: 0;

      /* Text-only <p> tags */
      &:not(:has(> *)) {
        font-weight: var(--strong-font-weight);
      }
    }

    a {
      display: block;
      padding-right: var(--_sidebar-inset);
      color: var(--sidebar-link-color);

      &:has(img, svg) {
        display: flex;
        align-items: center;
        gap: 0.25em;
      }

      &:hover {
        text-decoration-color: var(--sidebar-link-color-active);
      }
    }

    &.active {
      > a {
        color: var(--sidebar-link-color-active);
      }
    }

    &.collapse {
      > :not(a) {
        display: none;
      }
    }
  }

  > ul {
    > li {
      padding-left: var(--_sidebar-inset);
    }

    ul {
      margin-left: var(--_sidebar-list-inset);
    }
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: var(--z-sidebar);
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  width: var(--sidebar-width);
  padding-bottom: 40px;
  border-right: var(--sidebar-border);
  background: var(--sidebar-bg);
  color: var(--sidebar-color);
  font-size: var(--sidebar-font-size);
  transition:
    transform var(--duration-medium) ease-out,
    visibility var(--duration-medium);

  /* Non-webkit browsers: style scrollbar for consistency */
  @supports (scrollbar-width: auto) {
    &::-webkit-scrollbar {
      width: var(--_sidebar-scrollbar-width);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: var(--_sidebar-scrollbar-width);
      background: transparent;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        background: rgba(136, 136, 136, 0.4);
      }

      &::-webkit-scrollbar-track {
        background: rgba(136, 136, 136, 0.1);
      }
    }
  }

  .app-name {
    padding: 1.5rem 0;
    text-align: center;

    .app-nav {
      display: block;
      position: static;
    }
  }

  .app-name-link {
    color: var(--sidebar-name-color);
    font-family: var(--sidebar-name-font-family);
    font-size: var(--sidebar-name-font-size);
    font-weight: var(--sidebar-name-font-weight);
  }

  /* State: close */
  body.close & {
    visibility: hidden;
    transform: translateX(calc(0px - var(--sidebar-width)));
  }

  /* State: sticky */
  body.sticky & {
    position: fixed;
  }
}

.sidebar-nav {
  li {
    &.group {
      padding-block: var(--sidebar-group-spacing);
      border-top: var(--sidebar-group-border);

      &:has(+ :not(.group)) {
        margin-bottom: var(--sidebar-group-spacing);
        border-bottom: var(--sidebar-group-border);
      }
    }

    > a.pagelink {
      border-radius: var(--border-radius);
      background: var(--sidebar-pagelink-bg);

      .active > &,
      :has(.active) > & {
        background: var(--sidebar-pagelink-bg-expanded);

        &:only-child {
          background: var(--sidebar-pagelink-bg-empty);
        }
      }

      .collapse > & {
        background: var(--sidebar-pagelink-bg-collapsed);
      }
    }
  }
}

.sidebar-toggle {
  position: absolute;
  z-index: var(--z-sidebar-toggle);
  bottom: 0;
  left: 0;
  width: calc(var(--sidebar-width) - var(--_sidebar-scrollbar-width) - 1px);
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background: color-mix(in srgb, var(--color-bg) 80%, transparent);
  text-align: center;
  cursor: pointer;

  /* State: close */
  body.close & {
    width: auto;
  }

  /* State: sticky */
  body.sticky & {
    position: fixed;
  }
}

.sidebar-toggle-button {
  padding: 10px;

  span {
    display: block;
    height: 2px;
    width: 16px;
    margin-bottom: 4px;
    background: var(--sidebar-link-color-active);
  }
}

@media only screen and (orientation: landscape) {
  @supports (width: env(safe-area-inset)) {
    .sidebar > *,
    .sidebar-toggle-button {
      margin-left: calc(env(safe-area-inset-left) / 2);
    }
  }
}
