/* Variables (Private) */
/* ========================================================================== */
/* prettier-ignore */
:root {
  /* z-index */
  --_z-progress       : 2147483647;
  --_z-skip-to-content: 2147483646;
  --_z-sidebar-toggle : 40;
  --_z-sidebar        : 30;
  --_z-github-corner  : 20;
  --_z-app-nav        : 10;
}
