/* Variables: Basic */
/* ========================================================================== */
/* prettier-ignore */
:root {
  /* Color */
  --color-bg   : #ffffff;
  --color-mono : var(--color-text);
  --color-text : #333;
  --theme-color: #0b85d7;

  /* Typography */
  --font-family      : system-ui, sans-serif;
  --font-family-emoji: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-mono : ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  --font-size        : 16px;
  --font-size-xxxl   : calc(var(--font-size-xxl) * var(--modular-scale));
  --font-size-xxl    : calc(var(--font-size-xl) * var(--modular-scale));
  --font-size-xl     : calc(var(--font-size-l) * var(--modular-scale));
  --font-size-l      : calc(1rem * var(--modular-scale));
  --font-size-m      : var(--font-size);
  --font-size-s      : max(13px, calc(var(--font-size-m) / var(--modular-scale)));
  --font-size-xs     : max(11px, calc(var(--font-size-s) / var(--modular-scale)));
  --font-size-emoji  : 1.2em;
  --font-size-mono   : 0.875rem;
  --font-weight      : 400;
  --font-weight-mono : 400;
  --line-height      : 1.6;
  --max-width        : 72ch;  /* 725px / 98 characters */
  --modular-scale    : 1.250; /* 1.067, 1.125, 1.200, 1.250, 1.333, 1.414, 1.500, 1.618 */

  /* Common */
  --border-radius     : 3px; /* Single value */
  --margin-block      : 1em; /* Single value */
  --scroll-padding-top: 0;

  /* Cover */
  --cover-bg         : ;
  --cover-bg-overlay : ;
  --cover-color      : ;
  --cover-title-color: ;
  --cover-title-font : 300 var(--font-size-xxxl) var(--font-family);

  /* Elements */
  --blockquote-bg                 : ;
  --blockquote-border-color       : var(--theme-color);
  --blockquote-border-radius      : 0;
  --blockquote-border-width       : 0 0 0 4px;
  --blockquote-padding            : 0 0 0 1.5em;
  --blockquote-text               : var(--color-mono-6);
  --button-bg                     : var(--theme-color);
  --button-border-radius          : 100vh;
  --button-color                  : #fff;
  --button-padding                : 0.3em 1.25em 0.315em 1.25em;
  --code-bg                       : var(--color-mono-1);
  --code-color                    : ;
  --codeblock-bg                  : var(--color-mono-1);
  --codeblock-color               : ;
  --form-element-bg               : ;
  --form-element-border           : 1px solid var(--color-mono-2);
  --form-element-border-radius    : var(--border-radius);
  --form-element-color            : ;
  --h1-font-size                  : var(--font-size-xxxl);
  --h1-font-weight                : var(--heading-font-weight);
  --h2-font-size                  : var(--font-size-xxl);
  --h2-font-weight                : var(--heading-font-weight);
  --h3-font-size                  : var(--font-size-xl);
  --h3-font-weight                : var(--heading-font-weight);
  --h4-font-size                  : var(--font-size-l);
  --h4-font-weight                : var(--heading-font-weight);
  --h5-font-size                  : var(--font-size-m);
  --h5-font-weight                : var(--heading-font-weight);
  --h6-font-size                  : var(--font-size-s);
  --h6-font-weight                : var(--heading-font-weight);
  --heading-color                 : inherit;
  --heading-font-weight           : 600;
  --kbd-bg                        : var(--color-mono-1);
  --kbd-border-radius             : 4px;
  --kbd-box-shadow                : 0 2px 0 1px var(--color-mono-2);
  --kbd-color-text                : ;
  --kbd-font-size                 : var(--font-size-m);
  --link-text-decoration-thickness: 2px;
  --strong-color                  : #2c3e50;
  --strong-font-weight            : 600;
  --table-row-alt-bg              : #f8f8f8;

  /* Elements: Callouts */
  --callout-border-radius      : 0 var(--border-radius) var(--border-radius) 0;
  --callout-border-width       : 0 0 0 4px;
  --callout-charm-border-radius: 100vh;
  --callout-charm-font-size    : 1.2em;
  --callout-charm-inset        : 50% auto auto -2px;
  --callout-charm-size         : 1.3em;
  --callout-charm-translate    : -50% -50%;
  --callout-padding            : 1em 1em 1em var(--callout-charm-size);
  --important-bg               : var(--color-mono-1);
  --important-border-color     : #f66;
  --important-charm-bg         : var(--important-border-color);
  --important-charm-color      : #fff;
  --important-charm-content    : '!';
  --important-color            : ;
  --tip-bg                     : color-mix(in srgb, var(--theme-color), transparent 90%);
  --tip-border-color           : var(--theme-color);
  --tip-charm-bg               : var(--tip-border-color);
  --tip-charm-color            : #fff;
  --tip-charm-content          : 'i';
  --tip-color                  : ;

  /* Navbar */
  --navbar-font-size        : var(--font-size);
  --navbar-height           : 60px;
  --navbar-link-color       : ;
  --navbar-link-color-active: var(--theme-color);
  --navbar-link-line-height : 2.5;

  /* Sidebar */
  --sidebar-bg               : var(--color-bg);
  --sidebar-color            : #364149;
  --sidebar-font-size        : var(--font-size);
  --sidebar-link-color       : var(--color-text);
  --sidebar-link-color-active: var(--theme-color);
  --sidebar-link-line-height : 2.25;
  --sidebar-name-color       : ;
  --sidebar-name-font-family : var(--font-family);
  --sidebar-name-font-size   : var(--font-size-xl);
  --sidebar-name-font-weight : 400;
  --sidebar-width            : 280px;
}

/* Variables: Advanced */
/* ========================================================================== */
/* prettier-ignore */
:root {
  /* Color: Monochromatic (auto-generated) */
  --color-mono-1: color-mix(in srgb, var(--color-mono) 5%, var(--color-bg));
  --color-mono-2: color-mix(in srgb, var(--color-mono) 15%, var(--color-bg));
  --color-mono-3: color-mix(in srgb, var(--color-mono) 25%, var(--color-bg));
  --color-mono-4: color-mix(in srgb, var(--color-mono) 35%, var(--color-bg));
  --color-mono-5: color-mix(in srgb, var(--color-mono) 45%, var(--color-bg));
  --color-mono-6: color-mix(in srgb, var(--color-mono) 55%, var(--color-bg));
  --color-mono-7: color-mix(in srgb, var(--color-mono) 65%, var(--color-bg));
  --color-mono-8: color-mix(in srgb, var(--color-mono) 75%, var(--color-bg));
  --color-mono-9: color-mix(in srgb, var(--color-mono) 85%, var(--color-bg));

  /* Color: Theme Shades & Tints (auto-generated) */
  --theme-color-shade  : var(--color-mono);
  --theme-color-shade-1: color-mix(in srgb, var(--theme-color), var(--theme-color-shade) 20%);
  --theme-color-shade-2: color-mix(in srgb, var(--theme-color), var(--theme-color-shade) 40%);
  --theme-color-shade-3: color-mix(in srgb, var(--theme-color), var(--theme-color-shade) 60%);
  --theme-color-shade-4: color-mix(in srgb, var(--theme-color), var(--theme-color-shade) 80%);
  --theme-color-tint   : var(--color-mono-1);
  --theme-color-tint-1 : color-mix(in srgb, var(--theme-color), var(--theme-color-tint) 20%);
  --theme-color-tint-2 : color-mix(in srgb, var(--theme-color), var(--theme-color-tint) 40%);
  --theme-color-tint-3 : color-mix(in srgb, var(--theme-color), var(--theme-color-tint) 60%);
  --theme-color-tint-4 : color-mix(in srgb, var(--theme-color), var(--theme-color-tint) 80%);
}
