/* Variables: Advanced */
/* ========================================================================== */
/* prettier-ignore */
:root {
  /* Color: Monochromatic */
  --color-mono-1: color-mix(in srgb, var(--color-mono) 5%, var(--color-bg));
  --color-mono-2: color-mix(in srgb, var(--color-mono) 15%, var(--color-bg));
  --color-mono-3: color-mix(in srgb, var(--color-mono) 25%, var(--color-bg));
  --color-mono-4: color-mix(in srgb, var(--color-mono) 35%, var(--color-bg));
  --color-mono-5: color-mix(in srgb, var(--color-mono) 45%, var(--color-bg));
  --color-mono-6: color-mix(in srgb, var(--color-mono) 55%, var(--color-bg));
  --color-mono-7: color-mix(in srgb, var(--color-mono) 65%, var(--color-bg));
  --color-mono-8: color-mix(in srgb, var(--color-mono) 75%, var(--color-bg));
  --color-mono-9: color-mix(in srgb, var(--color-mono) 85%, var(--color-bg));

  /* Color: Theme Shades & Tints */
  --theme-color-shade  : var(--color-mono);
  --theme-color-shade-1: color-mix(in srgb, var(--theme-color), var(--theme-color-shade) 20%);
  --theme-color-shade-2: color-mix(in srgb, var(--theme-color), var(--theme-color-shade) 40%);
  --theme-color-shade-3: color-mix(in srgb, var(--theme-color), var(--theme-color-shade) 60%);
  --theme-color-shade-4: color-mix(in srgb, var(--theme-color), var(--theme-color-shade) 80%);
  --theme-color-tint   : var(--color-mono-1);
  --theme-color-tint-1 : color-mix(in srgb, var(--theme-color), var(--theme-color-tint) 20%);
  --theme-color-tint-2 : color-mix(in srgb, var(--theme-color), var(--theme-color-tint) 40%);
  --theme-color-tint-3 : color-mix(in srgb, var(--theme-color), var(--theme-color-tint) 60%);
  --theme-color-tint-4 : color-mix(in srgb, var(--theme-color), var(--theme-color-tint) 80%);

  /* z-index */
  --z-progress       : 2147483647;
  --z-skip-to-content: 2147483646;
  --z-sidebar-toggle : 50;
  --z-sidebar        : 40;
  --z-github-corner  : 30;
  --z-app-nav        : 20;
}
