@import url('https://fonts.googleapis.com/css?family=Inconsolata|Inconsolata-Bold');

@import 'basic/_coverpage.css';
@import 'basic/_main.css';

/* prettier-ignore */
:root {
  /* Base */
  --color-primary   : #0074d9;
  --font-family-mono: Inconsolata, monospace;

    /* Elements */
  --code-bg            : #f9f9f9;
  --heading-color      : #333;
  --heading-font-weight: 400;
  --strong-color       : #333;
  --strong-font-weight : 600;

    /* Sidebar */
  --sidebar-link-color       : #666;
  --sidebar-link-color-active: #333;
}

/* Sidebar */
/* ========================================================================== */
.sidebar {
  li {
    a {
      &:hover {
        text-decoration: none;
      }
    }

    &.active {
      background-color: #eee;

      a {
        color: var(--sidebar-link-color-active);
      }
    }
  }
}

/* Syntax Highlighting */
/* ========================================================================== */
.token {
  &.atrule,
  &.attr-value,
  &.keyword {
    color: #a11;
  }

  &.attr-name,
  &.builtin,
  &.char,
  &.inserted,
  &.selector,
  &.string,
  &.url {
    color: #2aa198;
  }

  &.bold,
  &.important {
    font-weight: bold;
  }

  &.boolean,
  &.constant,
  &.deleted,
  &.number,
  &.property,
  &.symbol,
  &.tag {
    color: #268bd2;
  }

  &.cdata,
  &.comment,
  &.doctype,
  &.prolog {
    color: #93a1a1;
  }

  &.important,
  &.regex,
  &.variable {
    color: #cb4b16;
  }

  /* ---------------------------------- */

  &.entity {
    color: #657b83;
    background: #eee8d5;
    cursor: help;
  }

  &.function {
    color: #b58900;
  }

  &.italic {
    font-style: italic;
  }

  &.namespace {
    opacity: 0.7;
  }

  &.punctuation {
    color: #586e75;
  }
}
