@import url('https://fonts.googleapis.com/css?family=Inconsolata|Inconsolata-Bold');

$color-primary: #0074D9;
$sidebar-width: 16em;

@import "basic/layout";

body {
  color: #34495e;
}
/* sidebar */
.sidebar {
  color: #364149;

  a {
    color: #666;
    text-decoration: none;
  }

  li {
    list-style: none;
    padding: 0.2em 0 0.2em 1em;
    margin: 0;
  }

  ul li ul {
    padding: 0;
  }

  .active {
    background-color: #eee;

    a {
      color: #333;
    }
  }
}

.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section strong {
  font-weight: 400;
  color: #333;
}

.markdown-section a {
  color: $color-primary;
  font-weight: 400;
}

.markdown-section p,
.markdown-section ul,
.markdown-section ol {
  word-spacing: 0.05em;
  line-height: 1.6em;
  margin: 0 0 1em 0;
}

.markdown-section h1 {
  margin: 0 0 1em;
  font-size: 2em;
  font-weight: 500;
}

.markdown-section h2 {
  padding: 1rem 0 0 0;
  margin: 0 0 1rem 0;
  font-size: 1.8em;
  font-weight: 400;
}

.markdown-section h3 {
  margin: 52px 0 1.2em;
  font-size: 1.5em;
}


.markdown-section h4 {
  font-size: 1.25em;
}

.markdown-section h5 {
  font-size: 1em;
}

.markdown-section h6 {
  font-size: 1em;
  color: #777;
}

.markdown-section figure,
.markdown-section p,
.markdown-section ul,
.markdown-section ol {
  margin: 1.2em 0;
}

.markdown-section ul,
.markdown-section ol {
  padding-left: 1.5em;
}

.markdown-section li {
  margin: 0;
  line-height: 1.5;
}

.markdown-section blockquote {
  color: #858585;
  border-left: 4px solid $color-primary;
  margin: 2em 0;
  padding-left: 20px;
}

.markdown-section blockquote p {
  font-weight: 600;
  margin-left: 0;
}

.markdown-section iframe {
  margin: 1em 0;
}

.markdown-section em {
  color: #7f8c8d;
}

.markdown-section code {
  background-color: #f9f9f9;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  white-space: pre;
  font-family: Inconsolata;
}

.markdown-section pre {
  background-color: #f9f9f9;
  border-left: 2px solid #eee;
  padding: 8px;
  margin: 0 0 1em 0;
  font-family: Inconsolata;
  padding: 0 10px 12px 0;
  font-size: 16px;
  overflow: auto;
  word-wrap: normal;
}

/* code highlight */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #93a1a1; /* base1 */
}

.token.punctuation {
  color: #586e75; /* base01 */
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #268bd2; /* blue */
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.url,
.token.inserted {
  color: #2aa198; /* cyan */
}

.token.entity {
  color: #657b83; /* base00 */
  background: #eee8d5; /* base2 */
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #a11; /* green */
}

.token.function {
  color: #b58900; /* yellow */
}

.token.regex,
.token.important,
.token.variable {
  color: #cb4b16; /* orange */
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.markdown-section pre>code {
  display: block;
  font-family: Inconsolata;
  overflow: inherit;
  max-width: inherit;
  position: relative;
  background-color: #f8f8f8;
  padding: 20px 0.8em 20px;
  line-height: 1.1em;
  border-radius: 2px;
}

.markdown-section code::after, .markdown-section code::before {
  letter-spacing: 0.05em;
}

code .token {
  min-height: 1.5em;
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
}

.content span.light {
  color: #7f8c8d;
}

.content span.info {
  display: inline-block;
  font-size: 0.85em;
  margin-left: 20px;
  vertical-align: middle;
  width: 280px;
}
