:root:has(.sidebar-chevron-left) {
  --_sidebar_pagelink-bg-left: 2px;
}

:root:has(.sidebar-chevron-right) {
  --_sidebar_pagelink-bg-left: calc(100% - 15px);
}

:root:has([class*='sidebar-chevron-']) {
  /* Chevron right (Mono) */
  --sidebar-pagelink-bg: no-repeat var(--_sidebar_pagelink-bg-left)
      calc(50% - 2.5px) / 6px 5px
      linear-gradient(
        45deg,
        transparent 2.75px,
        var(--color-mono-3) 2.75px 4.25px,
        transparent 4px
      ),
    no-repeat var(--_sidebar_pagelink-bg-left) calc(50% + 2.5px) / 6px 5px
      linear-gradient(
        135deg,
        transparent 2.75px,
        var(--color-mono-3) 2.75px 4.25px,
        transparent 4px
      );
  /* Chevron down (Theme color) */
  --sidebar-pagelink-bg-active: no-repeat
      calc(var(--_sidebar_pagelink-bg-left) - 2px) center / 5px 6px
      linear-gradient(
        225deg,
        transparent 2.75px,
        var(--theme-color) 2.75px 4.25px,
        transparent 4.25px
      ),
    no-repeat calc(var(--_sidebar_pagelink-bg-left) + 3px) center / 5px 6px
      linear-gradient(
        135deg,
        transparent 2.75px,
        var(--theme-color) 2.75px 4.25px,
        transparent 4.25px
      );
  /* Chevron right (Theme color) */
  --sidebar-pagelink-bg-active-collapsed: no-repeat
      var(--_sidebar_pagelink-bg-left) calc(50% - 2.5px) / 6px 5px
      linear-gradient(
        45deg,
        transparent 2.75px,
        var(--theme-color) 2.75px 4.25px,
        transparent 4px
      ),
    no-repeat var(--_sidebar_pagelink-bg-left) calc(50% + 2.5px) / 6px 5px
      linear-gradient(
        135deg,
        transparent 2.75px,
        var(--theme-color) 2.75px 4.25px,
        transparent 4px
      );
  /* Dot (active without children) */
  --sidebar-pagelink-bg-active-empty: no-repeat var(--_sidebar_pagelink-bg-left)
    center / 4px 4px
    radial-gradient(
      circle,
      var(--theme-color) 0,
      var(--theme-color) 70%,
      transparent 71%
    );
}

.sidebar-nav {
  li {
    /* Groups */
    &:not(:last-child, :has(> a, > p > a)) {
      margin-bottom: 1em;
      padding-bottom: 1em;
      border-bottom: 1px solid var(--color-mono-2);
    }

    /* Page Links */
    > a {
      &:not([target='_blank'], .app-sub-sidebar a) {
        border-radius: var(--border-radius);
        background: var(--sidebar-pagelink-bg);

        .active > &,
        :has(.active) > & {
          background: var(--sidebar-pagelink-bg-active);

          &:only-child {
            background: var(--sidebar-pagelink-bg-active-empty);
          }
        }

        .collapse > & {
          background: var(--sidebar-pagelink-bg-active-collapsed);
        }

        .sidebar-chevron-left & {
          padding-left: var(--_sidebar-list-inset);
        }

        .sidebar-chevron-right & {
          padding-right: 30px;
        }
      }
    }
  }
}
