@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Source+Sans+Pro:300,400,600');

@import 'shared/__index.css';
@import 'shared/_syntax.css';

/* prettier-ignore */
:root {
  /* Base */
  --color-bg        : #3f3f3f;
  --color-primary   : #ea6f5a;
  --color-text      : #c8c8c8;
  --font-family     : 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  --font-family-mono: 'Roboto Mono', Monaco, courier, monospace;

  /* Elements */
  --code-bg         : #282828;
  --code-color      : #657b83;
  --codeblock-bg    : #282828;
  --codeblock-color : #657b83;
  --heading-color   : #657b83;
  --input-bg        : #4f4f4f;
  --strong-color    : #657b83;
  --table-row-alt-bg: #282828;

  /* Sidebar */
  --sidebar-color     : #c8c8c8;
  --sidebar-link-color: var(--sidebar-color);

  color-scheme: dark;
}
