@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Source+Sans+Pro:300,400,600');

@import 'basic/_layout.css';
@import 'basic/_coverpage.css';

:root {
  --color-primary: #ea6f5a;
  --color-bg: #3f3f3f;
  --color-text: #c8c8c8;
  --sidebar-width: 300px;
}

body {
  background-color: var(--color-bg);
}

.sidebar {
  background-color: var(--color-bg);
  color: #c8c8c8;

  li {
    margin: 6px 15px 6px 0;

    a {
      color: #c8c8c8;
      font-size: 14px;
      overflow: hidden;
      text-decoration: none;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        text-decoration: underline;
      }
    }

    &.active {
      > a {
        color: var(--theme-color, var(--color-primary));
        font-weight: 600;
      }
    }
  }

  ul ul {
    padding: 0;
  }
}

.markdown-section {
  :is(h1, h2, h3, h4),
  strong {
    color: #657b83;
    font-weight: 600;
  }

  a {
    color: var(--theme-color, var(--color-primary));
    font-weight: 600;
  }

  h1 {
    font-size: 2rem;
    margin: 0 0 1rem;
  }

  h2 {
    font-size: 1.75rem;
    margin: 45px 0 0.8rem;
  }

  h3 {
    font-size: 1.5rem;
    margin: 40px 0 0.6rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    color: #777;
    font-size: 1rem;
  }

  figure,
  p,
  ul,
  ol {
    margin: 1.2em 0;
  }

  p,
  ul,
  ol {
    line-height: 1.6rem;
    word-spacing: 0.05rem;
  }

  ul,
  ol {
    padding-left: 1.5rem;
  }

  blockquote {
    border-left: 4px solid var(--theme-color, var(--color-primary));
    color: #858585;
    margin: 2em 0;
    padding-left: 20px;

    p {
      font-weight: 600;
      margin-left: 0;
    }
  }

  iframe {
    margin: 1em 0;
  }

  em {
    color: #7f8c8d;
  }

  code {
    background-color: #282828;
    border-radius: 2px;
    color: #657b83;
    font-family: 'Roboto Mono', Monaco, courier, monospace;
    margin: 0 2px;
    padding: 3px 5px;
    white-space: pre-wrap;
  }

  > :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) code {
    font-size: 0.8rem;
  }

  pre {
    -moz-osx-font-smoothing: initial;
    -webkit-font-smoothing: initial;
    background-color: #282828;
    font-family: 'Roboto Mono', Monaco, courier, monospace;
    line-height: 1.5rem;
    margin: 1.2em 0;
    overflow: auto;
    padding: 0 1.4rem;
    position: relative;
    word-wrap: normal;
  }

  tr:nth-child(2n) {
    background-color: #282828;
  }
}

.token {
  &.comment,
  &.prolog,
  &.doctype,
  &.cdata {
    color: #8e908c;
  }

  &.namespace {
    opacity: 0.7;
  }

  &.boolean,
  &.number {
    color: #c76b29;
  }

  &.punctuation {
    color: #525252;
  }

  &.property {
    color: #c08b30;
  }

  &.tag {
    color: #2973b7;
  }

  &.string {
    color: var(--theme-color, var(--color-primary));
  }

  &.selector {
    color: #6679cc;
  }

  &.attr-name {
    color: #2973b7;
  }

  &.entity,
  &.url,
  .language-css &.string,
  .style &.string {
    color: #22a2c9;
  }

  &.attr-value,
  &.control,
  &.directive,
  &.unit {
    color: var(--theme-color, var(--color-primary));
  }

  &.keyword {
    color: #e96900;
  }

  &.statement,
  &.regex,
  &.atrule {
    color: #22a2c9;
  }

  &.placeholder,
  &.variable {
    color: #3d8fd1;
  }

  &.deleted {
    text-decoration: line-through;
  }

  &.inserted {
    border-bottom: 1px dotted #202746;
    text-decoration: none;
  }

  &.italic {
    font-style: italic;
  }

  &.important,
  &.bold {
    font-weight: bold;
  }

  &.important {
    color: #c94922;
  }

  &.entity {
    cursor: help;
  }

  code & {
    -moz-osx-font-smoothing: initial;
    -webkit-font-smoothing: initial;
    min-height: 1.5rem;
    position: relative;
    left: auto;
  }
}

.markdown-section {
  pre > code {
    -moz-osx-font-smoothing: initial;
    -webkit-font-smoothing: initial;
    background-color: #282828;
    border-radius: 2px;
    color: #657b83;
    display: block;
    font-family: 'Roboto Mono', Monaco, courier, monospace;
    font-size: 0.8rem;
    line-height: inherit;
    margin: 0 2px;
    max-width: inherit;
    overflow: inherit;
    padding: 2.2em 5px;
    white-space: inherit;
  }

  code::after,
  code::before {
    letter-spacing: 0.05rem;
  }

  p.tip {
    background-color: #282828;
    color: #657b83;
  }
}

pre::after {
  color: #ccc;
  content: attr(data-lang);
  font-size: 0.6rem;
  font-weight: 600;
  height: 15px;
  line-height: 15px;
  padding: 5px 10px 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

input[type='search'] {
  background: #4f4f4f;
  border-color: #4f4f4f;
  color: #c8c8c8;
}
