@import url('https://fonts.googleapis.com/css?family=Thasadith:400,400i,700');

@import 'basic/_coverpage.css';
@import 'basic/_main.css';
@import 'basic/_syntax.css';

/* prettier-ignore */
:root {
  /* Base */
  --color-bg     : #f0ffff;
  --color-primary: #0ff;
  --font-family  : 'Thasadith', sans-serif;
}

/* Sidebar */
/* ========================================================================== */
.sidebar {
  li {
    &.active {
      > a {
        border-right: 2px solid;
      }
    }
  }

  .app-sub-sidebar {
    li {
      &::before {
        content: '-';
        padding-right: 4px;
        float: left;
      }
    }
  }
}
