@import url('https://fonts.googleapis.com/css2?family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import 'shared/__index.css';
@import 'shared/_syntax.css';

/* prettier-ignore */
:root {
  /* Base */
  --color-bg     : #f0ffff;
  --color-primary: #0ff;
  --font-family  : 'Thasadith', sans-serif;
}

/* Sidebar */
/* ========================================================================== */
.sidebar {
  li {
    &.active {
      > a {
        border-right: 2px solid;
      }
    }
  }

  .app-sub-sidebar {
    li {
      &::before {
        content: '-';
        padding-right: 4px;
        float: left;
      }
    }
  }
}
