@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@import 'shared/__index.css';
@import 'shared/_syntax.css';

/* prettier-ignore */
:root {
  --theme-color: #42b983;

  /* Color */
  --color-text: #34495e;

  /* Typography */
  --font-family     : 'Source Sans 3', sans-serif;
  --font-family-mono: 'Roboto Mono', monospace;
  --max-width       : 85ch; /* 675px / 98 characters */

  /* Common */
  --margin-block: 1.2em;

  /* Elements */
  --code-color      : #e96900;
  --codeblock-color : #525252;
  --h1-font-size    : 2rem;
  --h2-font-size    : 1.75rem;
  --h3-font-size    : 1.5rem;
  --h4-font-size    : 1.25rem;
  --h5-font-size    : 1rem;
  --h6-font-size    : 1rem;
}

/* Sidebar */
/* ========================================================================== */
.sidebar {
  li {
    &.active {
      > a {
        border-right: 3px solid var(--theme-color);
      }
    }
  }

  .app-sub-sidebar {
    li {
      &::before {
        content: '-';
        padding-right: 4px;
        float: left;
      }
    }
  }
}
