@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Source+Sans+Pro:300,400,600');

@import 'basic/_coverpage.css';
@import 'basic/_main.css';
@import 'basic/_syntax.css';

/* prettier-ignore */
:root {
  /* Base */
  --color-primary   : #42b983;
  --color-text      : #34495e;
  --font-family     : 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  --font-family-mono: 'Roboto Mono', Monaco, courier, monospace;
  --margin-block    : 1em;
  --max-width       : 85ch; /* 675px / 98 characters */

  /* Elements */
  --code-color      : #e96900;
  --codeblock-color : #525252;
  --h1-font-size    : 2rem;
  --h2-font-size    : 1.75rem;
  --h3-font-size    : 1.5rem;
  --h4-font-size    : 1.25rem;
  --h5-font-size    : 1rem;
  --h6-font-size    : 1rem;
}

/* Sidebar */
/* ========================================================================== */
.sidebar {
  li {
    &.active {
      > a {
        border-right: 3px solid var(--color-primary);
      }
    }
  }

  .app-sub-sidebar {
    li {
      &::before {
        content: '-';
        padding-right: 4px;
        float: left;
      }
    }
  }
}
