:root {
  /* Chevron right (Mono) */
  --sidebar-pagelink-bg: no-repeat var(--_sidebar_pagelink-bg-left)
      calc(50% - 2.5px) / 6px 5px
      linear-gradient(
        45deg,
        transparent 2.75px,
        var(--color-mono-3) 2.75px 4.25px,
        transparent 4px
      ),
    no-repeat var(--_sidebar_pagelink-bg-left) calc(50% + 2.5px) / 6px 5px
      linear-gradient(
        135deg,
        transparent 2.75px,
        var(--color-mono-3) 2.75px 4.25px,
        transparent 4px
      );
  /* Chevron right (Theme color) */
  --sidebar-pagelink-bg-collapsed: no-repeat var(--_sidebar_pagelink-bg-left)
      calc(50% - 2.5px) / 6px 5px
      linear-gradient(
        45deg,
        transparent 2.75px,
        var(--theme-color) 2.75px 4.25px,
        transparent 4px
      ),
    no-repeat var(--_sidebar_pagelink-bg-left) calc(50% + 2.5px) / 6px 5px
      linear-gradient(
        135deg,
        transparent 2.75px,
        var(--theme-color) 2.75px 4.25px,
        transparent 4px
      );
  /* Chevron down (Theme color) */
  --sidebar-pagelink-bg-expanded: no-repeat
      calc(var(--_sidebar_pagelink-bg-left) - 2px) center / 5px 6px
      linear-gradient(
        225deg,
        transparent 2.75px,
        var(--theme-color) 2.75px 4.25px,
        transparent 4.25px
      ),
    no-repeat calc(var(--_sidebar_pagelink-bg-left) + 3px) center / 5px 6px
      linear-gradient(
        135deg,
        transparent 2.75px,
        var(--theme-color) 2.75px 4.25px,
        transparent 4.25px
      );
  /* Dot (active without children) */
  --sidebar-pagelink-bg-empty: no-repeat var(--_sidebar_pagelink-bg-left) center /
    7px 7px
    radial-gradient(
      circle,
      var(--theme-color) 0,
      var(--theme-color) 70%,
      transparent 71%
    );
}
