@import url('https://fonts.googleapis.com/css2?family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* prettier-ignore */
:root {
  --theme-color: #0ff;

  /* Color */
  --color-bg: #f0ffff;
  --codeblock-comment    : #8e908c;
  --codeblock-function   : #c94922;
  --codeblock-important  : #c94922;
  --codeblock-keyword    : var(--theme-color);
  --codeblock-operator   : #22a2c9;
  --codeblock-property   : #c08b30;
  --codeblock-punctuation: #525252;
  --codeblock-selector   : #6679cc;
  --codeblock-tag        : #2973b7;
  --codeblock-variable   : #3d8fd1;

  /* Typography */
  --font-family: 'Thasadith', sans-serif;
}

/* Sidebar */
/* ========================================================================== */
.sidebar {
  li {
    &.active {
      > a {
        border-right: 2px solid;
      }
    }
  }

  .app-sub-sidebar {
    li {
      &::before {
        content: '-';
        padding-right: 4px;
        float: left;
      }
    }
  }
}
