@import url('https://fonts.googleapis.com/css2?family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import '../shared/_syntax.css';

/* prettier-ignore */
:root {
  --theme-color: #0ff;

  /* Color */
  --color-bg: #f0ffff;

  /* Typography */
  --font-family: 'Thasadith', sans-serif;
}

/* Sidebar */
/* ========================================================================== */
.sidebar {
  li {
    &.active {
      > a {
        border-right: 2px solid;
      }
    }
  }

  .app-sub-sidebar {
    li {
      &::before {
        content: '-';
        padding-right: 4px;
        float: left;
      }
    }
  }
}
