@import '_sidebar-chevrons.css';

:root {
  --_sidebar_pagelink-bg-left: 2px;
}

.sidebar-nav {
  --_inset: 16px;

  li {
    a.page-link {
      padding-left: var(--_inset);
    }

    &:has(> .page-link) {
      > ul {
        margin-left: calc(var(--_sidebar-list-inset) + var(--_inset));
      }
    }
  }
}
