* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
}

/* navbar */
nav {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 10;
  margin: 15px 60px 0 0;
  text-align: right;
}

nav ul, nav li {
  list-style: none;
  display: inline-block;
}

/* navbar dropdown */
nav li {
  position: relative;
}

nav li ul {
  background-color: rgba(255, 255, 255, .6);
  border: 1px solid #000;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  top: 26px;
  transform-origin: 100% 0%;
  transform: scale(1, 0);
  transition: opacity .4s ease-out, transform .2s ease;
  transition-delay: .3s;
}

nav li:hover ul {
  opacity: 1;
  transform: scale(1, 1);
  transition: opacity .4s ease, transform .2s ease-out;
  transition-delay: 0;
}

nav li ul li {
  display: block;
  font-size: 14px;
  margin: 0;
  padding: 4px 10px;
  white-space: nowrap;
}

nav li ul a {
  display: block;
  margin: 0;
  padding: 0;
}

nav li ul a.active {
  border-bottom: 0;
}

nav a {
  margin: 0 1em;
  padding: 5px 0;
  font-size: 16px;
  text-decoration: none;
  color: inherit;
  transition: color .3s;
}

/* github corner */
.github-corner {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.github-corner svg {
  color: #fff;
  height: 80px;
  width: 80px;
}

.github-corner:hover .octo-arm {
  animation:octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,100%{ transform: rotate(0); }
  20%,60%{ transform: rotate(-25deg); }
  40%,80%{ transform: rotate(10deg); }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

html, body {
  height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 15px;
  letter-spacing: 0;
  margin: 0;
  overflow-x: hidden;
}

/* main */
main {
  height: 100%;
  position: relative;
  width: 100%;
}

/* sidebar */
.sidebar {
  border-right: 1px solid rgba(0,0,0,.07);
  bottom: 0;
  overflow-y: auto;
  position: absolute;
  top: 0;
  width: 300px;
  z-index: 1;
  padding-top: 40px;
  left: 0;
  transition: transform 250ms ease-out;
}

.sidebar ul {
  margin: 0;
  padding: 0;
}

.sidebar ul, .sidebar ul li {
  list-style: none;
}

.sidebar ul li a {
  display: block;
  border-bottom: none;
}

.sidebar ul li ul {
  padding-left: 20px;
}

/* sidebar toggle */
.sidebar-toggle {
  background-color: transparent;
  border: 0;
  bottom: 10px;
  left: 10px;
  position: absolute;
  text-align: center;
  transition: opacity .3s;
  width: 30px;
  z-index: 10;
  outline: none;
}

.sidebar-toggle:hover {
  opacity: .4;
}

.sidebar-toggle span {
  background-color: #000;
  display: block;
  height: 2px;
  margin-bottom: 4px;
  width: 16px;
}

/* main content */
.content {
  bottom: 0;
  left: 300px;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  transition: left 250ms ease;
}

body.close .sidebar {
  left: -300px;
}

body.close .content {
  left: 0;
}

@media screen and (max-width: 600px) {
  nav {
    margin-top: 16px;
  }

  nav li ul {
    top: 30px;
  }

  .sidebar {
    left: -300px;
    transition: transform 250ms ease;
  }

  .content {
    left: 0;
    min-width: 100vw;
    transition: transform 250ms ease-out;
  }

  body.close .sidebar {
    transform: translateX(300px);
  }

  body.close .content {
    transform: translateX(300px);
  }
  nav, .github-corner {
    transition: transform 250ms ease-out;
  }

  body.close nav,
  body.close .github-corner {
    transform: translateX(300px);
  }
}

/* markdown content found on pages */
.markdown-section {
  position: relative;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px 15px 40px 15px;
}

.markdown-section * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: inherit;
}

.markdown-section>:first-child {
  margin-top: 0!important;
}
