* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
}

/* navbar */
nav {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 10;
  margin: 25px 60px 0 0;
  text-align: right;
}

nav a {
  margin: 0 1em;
  padding: 5px 0;
  font-size: 16px;
  text-decoration: none;
  color: inherit;
  transition: color .3s;
}

/* github corner */
.github-corner {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.github-corner svg {
  color: #fff;
  height: 80px;
  width: 80px;
}

.github-corner:hover .octo-arm {
  animation:octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,100%{ transform: rotate(0); }
  20%,60%{ transform: rotate(-25deg); }
  40%,80%{ transform: rotate(10deg); }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

html, body {
  height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 15px;
  letter-spacing: 0;
  margin: 0;
}

/* main */
main {
  height: 100%;
  position: relative;
  width: 100%;
}

/* sidebar */
.sidebar {
  border-right: 1px solid rgba(0,0,0,.07);
  bottom: 0;
  overflow-y: auto;
  position: absolute;
  top: 0;
  width: 300px;
  z-index: 1;
  padding-top: 40px;
}

.sidebar ul {
  margin: 0;
  padding: 0;
}

.sidebar ul, .sidebar ul li {
  list-style: none;
}

.sidebar ul li a {
  display: block;
  border-bottom: none;
}

.sidebar ul li ul {
  padding-left: 20px;
}

/* main content */
.content {
  bottom: 0;
  left: 300px;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

@media screen and (max-width: 600px) {
  .sidebar {
    left: -300px;
  }

  .content {
    left: 0;
  }
}

/* markdown content found on pages */
.markdown-section {
  position: relative;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px 15px 40px 15px;
}

.markdown-section * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: inherit;
}

.markdown-section>:first-child {
  margin-top: 0!important;
}
