@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Source+Sans+Pro:300,400,600');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
}

/* navbar */
nav {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 10;
  margin: 25px 60px 0 0;
  text-align: right;
}

nav ul, nav li {
  list-style: none;
  display: inline-block;
}

nav a {
  margin: 0 1em;
  padding: 5px 0;
  font-size: 16px;
  text-decoration: none;
  color: inherit;
  transition: color .3s;
}

nav a:hover {
  color: #42b983;
}

nav a.active {
  color: #42b983;
  border-bottom: 2px solid #42b983;
}

/* github corner */
.github-corner {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.github-corner svg {
  color: #fff;
  fill: #42b983;
  height: 80px;
  width: 80px;
}

.github-corner:hover .octo-arm {
  animation:octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,100%{ transform: rotate(0); }
  20%,60%{ transform: rotate(-25deg); }
  40%,80%{ transform: rotate(10deg); }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

html, body {
  height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  color: #34495e;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 15px;
  letter-spacing: 0;
  margin: 0;
}

/* main */
main {
  height: 100%;
  position: relative;
  width: 100%;
}

/* sidebar */
.sidebar {
  background-color: #fff;
  border-right: 1px solid rgba(0,0,0,.07);
  bottom: 0;
  color: #364149;
  overflow-y: auto;
  position: absolute;
  top: 0;
  width: 300px;
  z-index: 1;
  padding-top: 40px;
}

.sidebar ul {
  margin: 0;
  padding: 0;
}

.sidebar ul, .sidebar ul li {
  list-style: none;
}

.sidebar li {
  margin: 12px 15px;
}

.sidebar ul li a {
  color: #7f8c8d;
  display: block;
  border-bottom: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-decoration: none;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.sidebar ul li.active>a {
  color: #42b983;
  font-weight: 500;
}

/* main content */
.content {
  bottom: 0;
  left: 300px;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

@media screen and (max-width: 600px) {
  .sidebar {
    left: -300px;
  }

  .content {
    left: 0;
  }
}

/* markdown content found on pages */
.markdown-section {
  position: relative;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px 15px 40px 15px;
}

.markdown-section * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: inherit;
}

.markdown-section>:first-child {
  margin-top: 0!important;
}

.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section strong {
  font-weight: 600;
  color: #2c3e50;
}

.markdown-section a {
  color: #42b983;
  font-weight: 600;
}

.markdown-section p,
.markdown-section ul,
.markdown-section ol {
  word-spacing: 0.05em;
}

.markdown-section h1 {
  margin: 0 0 1em;
  font-size: 2em;
}

.markdown-section h2 {
  font-size: 1.75em;
  margin: 45px 0 0.8em;
}

.markdown-section h3 {
  margin: 52px 0 1.2em;
  font-size: 1.5em;
}


.markdown-section h4 {
  font-size: 1.25em;
}

.markdown-section h5 {
  font-size: 1em;
}

.markdown-section h6 {
  font-size: 1em;
  color: #777;
}

.markdown-section figure,
.markdown-section p,
.markdown-section ul,
.markdown-section ol {
  margin: 1.2em 0;
}

.markdown-section p,
.markdown-section ul,
.markdown-section ol {
  line-height: 1.6em;
}

.markdown-section ul,
.markdown-section ol {
  padding-left: 1.5em;
}

.markdown-section blockquote {
  color: #858585;
  border-left: 4px solid #42b983;
  margin: 2em 0;
  padding-left: 20px;
}

.markdown-section blockquote p {
  font-weight: 600;
  margin-left: 0;
}

.markdown-section iframe {
  margin: 1em 0;
}

.markdown-section em {
  color: #7f8c8d;
}

.markdown-section code {
  border-radius: 2px;
  color: #e96900;
  margin: 0 2px;
  padding: 3px 5px;
  white-space: nowrap;
  font-size: 0.8em;
  font-family: 'Roboto Mono', Monaco, courier, monospace;
  background-color: #f8f8f8;
}

.markdown-section pre {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
  background-color: #f8f8f8;
  font-family: 'Roboto Mono', Monaco, courier, monospace;
  line-height: 1.5em;
  margin: 1.2em 0;
  padding: 1.2em 1.4em;
  position: relative;
}

/* code highlight */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #8e908c;
}

.token.namespace {
  opacity: .7;
}

.token.boolean,
.token.number {
  color: #c76b29;
}

.token.punctuation {
  color: #525252;
}

.token.property {
  color: #c08b30;
}

.token.tag {
  color: #2973b7;
}

.token.string {
  color: #42b983;
}

.token.selector {
  color: #6679cc;
}

.token.attr-name {
  color: #2973b7;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #22a2c9;
}

.token.attr-value,
.token.control,
.token.directive,
.token.unit {
  color: #42b983;
}

.token.keyword {
  color: #e96900;
}

.token.statement,
.token.regex,
.token.atrule {
  color: #22a2c9;
}

.token.placeholder,
.token.variable {
  color: #3d8fd1;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #202746;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: #c94922;
}

.token.entity {
  cursor: help;
}

.markdown-section pre>code {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
  background-color: #f8f8f8;
  border-radius: 2px;
  color: #525252;
  display: block;
  font-family: 'Roboto Mono', Monaco, courier, monospace;
  font-size: 0.8em;
  line-height: inherit;
  margin: 0 2px;
  padding: 3px 5px;
  white-space: inherit;
}

.markdown-section code::after, .markdown-section code::before {
  letter-spacing: 0.05em;
}

code .token {
  min-height: 1.5em;
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
}

pre code {
  overflow-x: auto;
  padding: 0;
  background-color: #f8f8f8;
  padding: 0.8em 0.8em 0.4em;
  line-height: 1.1em;
  border-radius: 2px;
}

pre::after {
  color: #ccc;
  content: attr(data-lang);
  font-size: 0.75em;
  font-weight: 600;
  height: 15px;
  line-height: 15px;
  padding: 5px 10px 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.content img {
  max-width: 100%;
}

.content span.light {
  color: #7f8c8d;
}

.content span.info {
  display: inline-block;
  font-size: 0.85em;
  margin-left: 20px;
  vertical-align: middle;
  width: 280px;
}
