<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/lib/docsify-password.css">
  </head>

  <body class="docsify require-password-page">
    <main class="t-center">
      <div class="greeting-ctnr">
        <div class="greeting-img m-auto"></div>
        <h2>docsify</h2>
      </div>

      <form action="/password" method="POST">
        <div>
          <label>
            <p>A password is required :)</p>
            <p>To get access to this docsify, please provide the password.</p>
            <input type="password" name="value" id="password-input" placeholder="Password.">
          </label>
        </div>

        <div>
          <button class="submit-btn" type="submit">Submit</button>
        </div>
      </form>

    </main>
  </body>

</html>
