section.cover {
  align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: none;

  &.show {
    display: flex;
  }

  &.has-mask .mask {
    position: absolute;
    size: 100%;
    background-color: $color-bg;
    opacity: .8;
  }

  .cover-main {
    flex: 1;
    text-align: center;
    margin: -20px 16px 0;
    z-index: 1;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  p {
    margin: 1em 0;
    line-height: 1.5rem;
  }

  h1 {
    text-align: center;
    font-size: 2.5rem;
    position: relative;
    margin: .625rem 0 2.5rem;
    font-weight: 300;
    color: inherit;

    a {
      display: block;
    }

    small {
      position: absolute;
      bottom: -.4375rem;
      font-size: 1rem;
    }
  }

  blockquote {
    text-align: center;
    font-size: 1.5rem;
  }

  ul {
    max-width: 500px;
    list-style-type: none;
    margin: 1em auto;
    padding: 0;
    line-height: 1.8;
  }

  .cover-main p:last-child a {
    border-radius: 2em;
    border-width: 1px;
    border-style:  solid;
    border-width: var(--theme-color, $color-primary);
    box-sizing: border-box;
    color: var(--theme-color, $color-primary);
    font-size: 1.05em;
    letter-spacing: 0.1em;
    padding: 0.75em 2em;
    text-decoration: none;
    transition: all 0.15s ease;
    margin-right: 1em;
    display: inline-block;

    &:last-child {
      margin-right: 0;
      background-color: var(--theme-color, $color-primary);
      color: #fff;

      &:hover {
        opacity: .8;
        color: inherit;
      }
    }

    &:hover {
      color: inherit;
    }
  }
}
