.cover {
  display: none;
  position: relative;
  min-height: 100%;
  width: 100%;
  align-items: center;
  background: var(--cover-bg);
  color: var(--cover-color);

  &:before {
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    background: var(--cover-bg-overlay);
  }

  &.show {
    display: flex;
  }

  a:not(.anchor) {
    text-decoration-color: var(--color-primary);
  }

  blockquote {
    font-size: 1.5rem;
    text-align: center;

    &,
    &::before,
    &::after {
      all: unset;
      font-size: var(--font-size-xl);
    }
  }

  h1 {
    position: relative;
    color: var(--cover-title-color);
    font: var(--cover-title-font);

    small {
      font-weight: var(--font-weight);
      position: absolute;
      bottom: 0;
    }
  }

  ul {
    max-width: 500px;
    margin: 1em auto;
    padding: 0;
    list-style-type: none;
  }
}

.cover-main {
  position: relative;
  flex: 1;
  margin: 5vh 40px;
  text-align: center;
}
