name: Build & Test

on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - master
      - develop

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x]
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: bootstrap
        run: npm run bootstrap
      - name: unit tests (mocha+chai+jsdom)
        run: npm run test
      - name: unit tests (jest+playwright)
        run: npm run test:jest-unit -- -ci
      - uses: microsoft/playwright-github-action@v1.3.0
      - name: e2e tests (jest+playwright)
        run: npm run test:jest-e2e -- -ci
      - name: Upload artifacts (diff output)
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: diff-output
          path: ${{ github.workspace }}/tests/**/__diff_output__/*
